[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Twisted = "*"
treq = "*"
txHTTP = "*"
klein = "*"
python-magic = "*"
Werkzeug = "*"
ujson = "*"
"PyPDF2" = "*"


[dev-packages]

